<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::Layout(~{::section})}">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>
	<section>
		<div class="container p-3">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="card">
						<div class="card-header text-center fs-4">REGISTER PAGE</div>


						<th:block th:if="${session.msg}">
							<p class="text-center text-success fs-4">[[${session.msg}]]</p>
							<th:block th:text="${@userServiceImpl.removeSessionMessage()}"></th:block>
							<!-- this is for remove attribute after refresh in spring boot 3-->
						</th:block>

						<div class="card-body">
							<form action="saveUser" method="post">
								<div class="mb-3">
									<label>Enter Full Name</label> <input type="text" name="name" class="form-control">
								</div>
								<div class="mb-3">
									<label>Enter UserName</label> <input type="text" name="userName" class="form-control" required>
								</div>
								<div class="mb-3">
									<label>Enter Email</label> <input type="email" name="email" class="form-control" required>
								</div>

								<div class="mb-3">
									<label>Enter Mobile Number</label> <input type="number" name="mobileNo"
										class="form-control">
								</div>

								<div class="mb-3">
									<label>Enter Password</label> <input type="password" name="password"
										class="form-control" id="myInput" required> <input type="checkbox" onclick="myFunction()">Show Password
									
								</div>
								<button class="btn btn-primary col-md-12">Register</button>
								<p class="text-center mt-2"><span class="text-success">Already User </span><a
										class="text-info" style="text-decoration: none;" th:href="@{/signin}">Login Here</a></p>

							</form>
						</div>
					</div>
				</div>
			</div>

		</div>


<!--script for show password -->

		<script>function myFunction() {

				var x = document.getElementById("myInput");
				if (x.type === "password") {
					x.type = "text";
				} else {
					x.type = "password";
				}
			}
		</script>


	</section>
</body>

</html>