<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


	<title>Set New Password</title>
</head>

<body>



	<h1 class="text-center fs-4 bg-success mt-3 p-4">Set New Password</h1>

	<div class="card-body">
		<form action="setPassword" method="post">

			<div class="mb-3">
				<label>New Password</label><input type="text" name="newpassword" class="form-control">
			</div>
			<div class="mb-3">
				<label>Confirm Password</label> <input type="password" id="myInput" name="confirmpassword"
					class="form-control"><input type="checkbox" onclick="myFunction()">Show Password
			</div>

			<p class="text-center fs-4"><a th:href="@{/setPassword}" style="text-decoration: none;">Set Password</a></p>
		</form>
	</div>



	<hr>

<!--script for show password -->

		<script>function myFunction() {

				var x = document.getElementById("myInput");
				if (x.type === "password") {
					x.type = "text";
				} else {
					x.type = "password";
				}
			}
		</script>


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>


</body>

</html>