<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base_Login::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>User HOme</title>

</head>
<body>
	<section>
		
		<h1 class="display-3 text-primary text-center fw-bold ">
						<marquee class="text-dark" width="90%" direction="left" height="80px">
							WelCome User its Your Home Page..!! </marquee>
					</h1>
		<div class="mb-5">
		<img src="/images/LotOfBooks.png" alt="Not Found" style="width: 100%;">
		</div>
		
		<!--footer-->


			<!-- footer start-->
			<footer class="footer1">
				<p>© 2024 BookStore.com All Rights Reserved</p>
			</footer>
			<!-- footer end-->

	</section>

</body>
</html>
