<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.com" th:replace="~{base_Login::layout(~{::section})}">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/stylee.css}" />

	<title>available book page</title>
</head>

<body>

	<section>

		<main role="main">

			<div class="container my-5 col-md-8 table-responsive">
				<table class="table  table-striped table-hover ">
					<thead>
						<tr>
							<th scope="col">Id</th>
							<th scope="col">Name</th>
							<th scope="col">Author</th>
							<th scope="col">Price</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="b :${book}">
							<td th:text="${b.id}"></td>
							<td th:text="${b.name}"></td>
							<td th:text="${b.author}"></td>
							<td th:text="${b.price}"></td>
							<td><a class="btn btn-secondary btn-sm" th:href="@{/mylist/{id}(id=${b.id})}"><div title="Click to add into Your Favourite!"><i class="fa-solid fa-heart"></i></div>
									<a style="color:blue" th:href="@{/available_books/editBook/{id}(id=${b.id})}"><i
											class="fa-solid fa-pen-to-square ms-4"></i></a>
									<a style="color:red" th:onclick="|deleteBook(${b.id})|"><i
											class="fa-solid fa-trash ms-4"></i></a>
							</td>

						</tr>

					</tbody>
				</table>
			</div>



			<hr>

			<!-- footer start-->
			<footer class="footer1">
				<p>© 2023 BookStore.com All Rights Reserved</p>
			</footer>
			<!-- footer end-->
		</main>
	</section>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>


</body>

</html>