<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/stylee.css}" />

	<title th:text="${title}">link page</title>
</head>

<body>


	<nav class="navbar navbar-expand-lg navbar-dark bg-info">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/user/user_Home}">BookStore</a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

		</div>
	</nav>

	<section>

		<main role="main" class="text-center">

			<h1 class="text-success">Congratulations Your Order Placed Successfully...!</h1>
			
			
			<hr/>
			<p class="text-white bg-dark">For Query : Get In Touch With Us on Below Platforms!!
			</p>
			<div class="mt-4 text-center">

				<a href="https://www.linkedin.com/feed/?trk=sem-ga_campid.14650114788_asid.151761418307_crid.657403558721_kw.linkedin%20login_d.c_tid.kwd-12704335873_n.g_mt.e_geo.9301136"
					target=”_blank”><img style="width:10%;" th:src="@{/images/LinkedIn.png}" alt="" class="container" />
				</a>
				<a href="https://www.facebook.com/" target=”_blank”> <img style="width:10%;"
						th:src="@{/images/facebook.png}" alt="" class="container" />
				</a>
				<a href="https://www.instagram.com/" target=”_blank”><img style="width:10%;"
						th:src="@{/images/instagram.jpg}" alt="" class="container" />
				</a>
				<a href="https://twitter.com/i/flow/login" target=”_blank”><img style="width:10%;"
						th:src="@{/images/twitter.png}" alt="" class="container" />
				</a>

			</div>

			<hr>


			<h5 class="text-success text-center mt-2">Thank you for considering our BookStore for your next Reading
				adventure. We can't wait to explore the wonders of books reading with you.
			</h5>
		
			
			
			<a th:href="@{/user/available_NewBooks}" style="text-decoration: none;">
				<h4 class="text-center">Purchase More..!</h4>
			</a>
			<hr>
			<!--footer-->


			<!-- footer start-->
			<footer class="footer1">
				<p>© 2024 BookStore.com All Rights Reserved</p>
			</footer>
			<!-- footer end-->


		</main>
	</section>





	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>


</body>

</html>